Package: com.dvntm.walegacy
Name: WALegacy
Version: 0.0.2
Architecture: iphoneos-arm
Description: Provides legacy WhatsApp version support by spoofing as up-to-date
Maintainer: dvntm
Author: dvntm
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
